/* CSS Document */

body {
	background-color:#262626;
	color:#CCCCCC;
}
.textLink {
	color:#E6BF00;
	text-decoration:underline;
	cursor:pointer;
}
.textLink:hover {
	color:#FFF;
}
.BL_Container {
	width:600px;
	margin:2px;
	word-wrap:break-word;
}
.BL_NavBar {
	border:medium solid #666666;
	width:100%;
	padding:2px;
}
.BL_Toggle {
	float:right;
}
.BL_Content {
	border-top:none !important;
	border:solid medium #666666;
	width:100%;
	padding:2px;
}
.BL_Info {
	padding:2px 4px 2px 2px;
}
.button2 {
	background-color:#2E2E2E;
	color: #F0F0F0;
	border: 1px solid #666666;
	font-size: 1em;
	padding: 2px;
}
.button2:hover {
	background-color: #2B2B2B;
	border-color: #EBC921;
	color: #EBC921;
}
.input2 {
	color: #BDBDBD;
	background-color: #1F1F1F;
	padding: 2px;
	border: 1px solid #666666;
	height:21px;
	width:600px;
}
.input2:hover {
	border-color: #EBCB2F;
}